.env

# certbot
reverse_proxy/certbot/conf
reverse_proxy/certbot/www

# nginx
reverse_proxy/nginx/nginx-templates
reverse_proxy/nginx/templates
reverse_proxy/nginx/error.log

# jelyfin
jellyfin/config
jellyfin/fonts

# kosync
kosync/koreader-sync-server
kosync/logs

# pihole
pihole/etc-dnsmasq.d
pihole/etc-pihole

# searxng
searxng/core-data

# homarr
homarr/homarr
